
@import url('https://fonts.googleapis.com/css?family=Montserrat');



$main-font: 'Montserrat', sans-serif;

//First theme idea
$theme1-c1:#34016e;
$theme1-c2:#000000;
$theme1-c3:#000000;
$theme1-c4:#000000;
$theme1-c5:#000000;


$activeT-c1: $theme1-c1;
$activeT-c2: $theme1-c2;
$activeT-c3: $theme1-c3;
$activeT-c4: $theme1-c4;
$activeT-c5: $theme1-c5;

$header-color: #fff;

$menu-color: #fff;
$menu-border: 1px solid #f8f8f8;

$sub-menu-border: 1px solid rgb(207, 207, 207);
$sub-menu-bg: #fff;

$gen-background: #e7e7e7;

//Groopy items

$groopy-border: 1px solid $activeT-c1;

$sub-menu-bg: #431c6e;
$sub-menu-bg-active:#6d6a70;

$help-border: 1px solid rgb(233, 53, 53);
$help-bg:rgba(233, 53, 53, 0.041); 