.app-Wrapper {
    background: $gen-background;
    height: calc(100% - 62px);
    overflow-y: scroll;
    position: relative;
}

/*========================
=
=    GROOPYS PAGE
=
========================*/

// Sub Menu
//

.sub-menu {
    display: flex;
    border: $sub-menu-border;
    transform: translateY(-100%);
    transition: transform 0.25s ease-out 0.3s;

    .item {
        width: calc(50% - 2px);
        padding: 7px 10px;
        font-size: 0.8em;

        &:last-child {
            border-left: $sub-menu-border;
            text-align: right;
        }

    }

    &.show {
        transform: translateY(0%);
    }
}

//Groopy Lists
//

.groopy-list {
    position: absolute;
    width: 100%;
    transition: all 0.4s ease-out; 

    &.today {
        transform:translateX(-100%);
    }

    &.tomorrow {
        transform: translateX(100%);
    }

    &.active {
        transform: translateX(0);
    }
}