// Settings
// ============================================================================
@import "../settings/theme-variables";
@import "../settings/basic-reset";

@import "outsourced";
@import "menu";
@import "app";


.app-Header {
    display: flex;
    background-color:$activeT-c1;
    padding: 10px;

    .location, .title, .profile {
        flex-grow: 1;
        align-self: center;
    }

    .location, .profile {
        width: 80px;
    }

    .location {
        display: flex; 
        padding: 2px 5px;
        position: relative;

        img, p, i {
            display: none;
            color: $header-color;
            align-content: center;
        }

        i {
            margin-right: 5px;
            font-size:1.2em;
            line-height: 0.65;
        }

        p {
            font-size: 0.6em;
            line-height: 1.8;
            transform: translateY(-50%);
            top: 50%;
            position: absolute;
            padding-left: 28px;
        }

        .show {
            display: block;
        }
    }

    .title {
        text-align: center;

        h1 {
            line-height: 1;
            margin-bottom: 10px;
            color: $header-color;
        }
    }

    .profile {
        border-radius: 50%; 
        padding: 2px 5px;
        text-align: right;

        .profile-wrap, svg {
            width: 35px;
            height: 35px;
        }

        .profile-wrap {
            border-radius: 50%;
            margin-left: auto;
        }

        svg {
            color: $header-color;
        }

        img {
            display:none;

            &.show {
            display: block;
            }
        }
    }
}